footer {
  align-content: flex-start;
  background: #BDBDBD;
  display: flex;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  height: 25%;
  margin-top: 10px;
  padding-bottom: 30px;
  padding-left: 20%;
  padding-top: 10px;
  transition: 1s;
}

@media screen and (min-width: 400px) {
  footer {
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 20px;
  }
}

.footer-title {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

footer img {
  display: inline-flex;
  flex-direction: row;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  padding-top: 5px;
}

@media screen and (min-width: 400px) {
  footer img {
    height: 35px;
    width: 35px;
  }
}

#education {
  flex: 2 1 30%;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#past-life {
  flex: 1 1 30%;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

#contact {
  flex: 1 1 30%;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 400px) {
   article {
    width: 33.3333%;
  }
}
