.header-container {
  background: #455A64;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-title {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 18px;
  margin-bottom: 11px;
  font-size: 150%;
  color: white;
  line-height: 1em;
  /*text-align: center;*/
}

/* Orange header icon */
.icon {
  float: left;
  height: 90px;
  width: 120px;
  background-color: #FF5722;
  margin-left: 20px;
}

.icon:hover {
  background-color: #BDBDBD;
}

.header-title:hover {
  color: #FF5722;
}

nav {
  float: right;
  margin: 25px 20px 0 0;
}

.top {
  font-family: 'Prompt', sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.top:hover {
  color: #FF5722;
  text-decoration: none;
}
