.App {
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

#about-me {
  /*height: 320px;*/
  height: 75vh;
  /*background-color: #607D8B;*/
  text-align: center;
  /*background: linear-gradient(
      rgba(189, 189, 189, 0.60),
      rgba(189, 189, 189, 0.60)
    ),
   url(../../public/assets/hero.jpg);
  background-size: cover;
  background-position: 0px -400px;
  border-bottom: 2px solid #BDBDBD;*/
  color: #FF5722;
  padding-top: 50px;
  padding-bottom: 70px;
}

.name {
  font-size: 5em;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  /*text-shadow: 1px 1px 1px #000;*/

  /*margin-top: 40px;*/
}

.about-text {
  margin: 0;
  margin: auto;
  color: black;
  font-size: 2em;
  width: 70%;
  /*text-shadow: 1px 1px 1px #000;*/
}

/*.color-wash {
  background-color: rgba(48, 63, 159, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

/*#projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: white;
}

.project {
  flex: 1 321px;
  height: 320px;
}

.project.a {
  background-color: #455A64;
  text-decoration: none;
}

.project.a:hover {
  background-color: #303F9F;
}

.project.a h3 {
  margin-top: 90px;
}

.project.b {
  background-color: white;
  color: black;
}

.project.b:hover {
  background-color: #FF5722;
  color: white;
}

.project.b h3 {
  margin-top: 90px;
}

.project.c {
  background-color: #455A64;
}

.project.c:hover {
  background-color: #388E3C;
}

.project.c h3 {
  margin-top: 90px;
}

.project.d {
  background-color: white;
  color: black;
}

.project.d:hover {
  background-color: #388E3C;
  color: white;
}

.project.d h3 {
  margin-top: 90px;
}

.project.e {
  background-color: #455A64;
}

.project.e:hover {
  background-color: red;
}

.project.e h3 {
  margin-top: 90px;
}

.project.f {
  background-color: white;
  color: black;
}

.project.f:hover {
  background-color: #303F9F;
  color: white;
}

.project.f h3 {
  margin-top: 90px;
}

.project-links-dark {
  text-decoration: none;
  color: white;
}

.project-links-light {
  text-decoration: none;
  color: black;
}*/
