#all-projects {
  display: grid;
  grid-template-areas:
  "a"
  "b"
  "c"
  "d"
  "e";
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  #all-projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c d"
    "e e";
  }
}

@media screen and (min-width: 1150px) {
  #all-projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a a b"
    "c d d"
    "e e e";
  }
}

.project {
  height: 400px;
  text-decoration: none;
}

.overlay {
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  line-height: 1.25em;
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay-title {
  display: flex;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 15%;
}

.overlay-about {
  display: flex;
  margin: auto;
  margin-top: 0;
}

@media screen and (min-width: 400px) {
  .overlay {
    display: none;
  }

  .project:hover .overlay {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    position: relative;
  }
}

/*Project 1*/
.project.a {
  grid-area: a;
  background: url(../../public/assets/hikecropped.jpeg) center;
  background-size: cover;
}

@media screen and (min-width: 400px) {
  .project.a:hover {
    color: white;
    font-size: 1.25em;
  }

  .project.a:hover .overlay {
    background: #455A64;
    display: flex;
    flex-direction: column;
  }
}

.overlay-title {
  display: flex;
  margin: auto;
  margin-bottom: 0;
  margin-top: 10%;
}

.overlay-about {
  display: flex;
  margin: auto;
  margin-top: 0;
}


/*Project 2*/
.project.b {
  grid-area: b;
  background: url(../../public/assets/weatherdetail.jpeg) center;
  background-size: cover;
}

@media screen and (min-width: 400px) {
  .project.b:hover {
    color: white;
    font-size: 1.25em;
  }
  
  .project.b:hover .overlay {
    background: #FF5722;
    display: flex;
    flex-direction: column;
  }
}

/*Project 3*/
.project.c {
  grid-area: c;
  background: url(../../public/assets/writing-small.jpeg) center;
  background-size: cover;
}

@media screen and (min-width: 400px) {
  .project.c:hover {
    color: white;
    font-size: 1.25em;
  }
  
  .project.c:hover .overlay {
    background: #388E3C;
    display: flex;
    flex-direction: column;
  }
}

/*Project 4*/
.project.d {
  grid-area: d;
  background: url(../../public/assets/tomato-small.jpeg);
  background-size: cover;
}

@media screen and (min-width: 400px) {
  .project.d:hover {
    color: white;
    font-size: 1.25em;
  }
  
  .project.d:hover .overlay {
    background: #FF5722;
    display: flex;
    flex-direction: column;
  }
}

/*Project 5*/
.project.e {
  grid-area: e;
  background: url(../../public/assets/keyboard-small.jpeg) center;
  background-size: cover;
}

@media screen and (min-width: 400px) {
  .project.e:hover {
    color: white;
    font-size: 1.25em;
  }
  
  .project.e:hover .overlay {
    background-color: #303F9F;
    display: flex;
    flex-direction: column;
  }
}