.title {
  font-size: 5em;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.125em;
  margin-bottom: 0;
  margin-top: 100px;
  margin-left: 40px;
}

.project-body {
  margin-left: 40px;
  width: 90%;
  max-width: 75ch;
}

.project-text {
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
  max-width: 75ch;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 4em;
    margin-left: 30px;
  }
  .pom {
    font-size: 3em;
  }
  .project-body {
    margin-left: 30px;
  }
  section h1 {
    margin-right: 10px;
  }
}


a {
  text-decoration: none;
  color: #FF5722;
}

a:hover {
  color: black;
}

.screenshot {
  width: 70%;
  border: 1px solid black;
  margin-bottom: 40px;
  margin-top: 20px;
}
